//values
table_border = 1px solid #000
body_f_size = 14px
body
	font-family Arial
	font-size body_f_size
	width 210mm
p.p4gI8
	float right
	font-size 12px
	text-align center
	width 685px
.clearfix::after
	content ""
	clear both
	display block
// table
.A6P6,.W65P
	border-collapse collapse
	.AazKSDT
		width 470px
	.KGSzZP
		width 210px
	.A7aG
		width 155px
	tr:first-child
		border-top table_border
	tbody
		border-left table_border
		border-right table_border
	td
		border-left table_border
.W65P
	tbody
		border-bottom table_border
	td:nth-child(2)
		text-align center
	td:nth-child(3)
		text-align center
.aaE
	margin-bottom 20px
	td:first-child
		vertical-align top
.QctgCAGr
	border 2px solid #000
	border-collapse collapse
	td:nth-child(2n)
		border-left table_border
		border-right table_border
	tr:first-child
		text-align center
		border-bottom table_border
	tr:last-child
		font-size 12px
		vertical-align text-top
		td:first-child
			text-align center
			width 50px
		td:nth-child(2)
			text-align right
			width 110px
		td:nth-child(4)
			text-align right
			width 78px
		td:nth-child(5)
			width 60px
		td:nth-child(6)
			text-align right
			width 125px
		td:last-child
			text-align right
			width 125px
.xvWSj6
	float right
	text-align right
	td:last-child
		width 125px
// /tables
.nP3Jh1
	margin-bottom 0
.xOuj
	margin-top 0
p>u
	border-bottom table_border
	display inline-block
	width 230px

img
	float right
	height auto
	margin-right 40px
	width 181px
@page
	margin: 20mm 25mm 20mm 45mm;
	size: 21cm 29.7cm;

@media print
	html, body
		height 297mm
		width 210mm


